*, *:before, *:after {
  box-sizing            : border-box;
  margin                : 0;
  border-radius         : 0 !important;  
  -moz-box-sizing       : border-box;
  -webkit-box-sizing    : border-box;
  -webkit-border-radius : 0 !important;
  -moz-border-radius    : 0 !important;
}

html{
  height    : 100%;
  width     : 100%;
  font-size : 1rem;
}

.wrapper{
  margin-top: 5rem;
}
table th{
  text-align: center;
}
table td{
  font-size: 1.5rem;
  vertical-align: middle;
  /*padding-top: 1.5rem !important;*/
}

.margtop{
  margin-top: 2rem;
}
.btn-margtop{
  margin-top: 1rem;
}